#apartado1{
    border: 3px solid brown;
    width: 400px;
    height: 200px;
    margin: 0 auto;
    border-radius: 22px; 
}
p{
    text-align: center;
    color: azure;
    background-color: black;
    margin: 10px;
    padding: 10px;
    border-radius: 40%;
    font-size: 32px;
}
.apartado2{
    background-color: rgb(213, 125, 17);
    color: aliceblue;
    width: 200px;
    height:100px ;
    text-align: center;
    margin: 0 auto;
    /* bordes redondeados*/
    border-top-left-radius: 10px;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 20px;

}
.apartado3{
    border-radius: ;
    background-color: rgb(213, 125, 17);
    color: aliceblue;
    width: 200px;
    height:100px ;
    text-align: center;
    margin: 0 auto;
    /* border redondeados*/
    /* border-radius:tof/left top/right botom/right bottom/left;*/
    border-radius: 10px 25px;/* top/left  -bottom/right
    top/right - bottom/left*/
}